// Sass Color variables
$background-color: #19e690;
$twitter-blue: #1da1f2;
$youtube-red: #ff0000;
$google-yellow: #fbbc05;


#landingPage {
    height: 100vh;
    background: $background-color;
    color: #ffffff;

    #header {
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

        h1, h2, p, .fab, .fas {
            text-shadow: 
                    0px 4px 3px rgba(0, 0, 0, 0.1), 
                    0px 8px 13px rgba(0, 0, 0, 0.1),
                    0px 18px 23px rgba(0, 0, 0, 0.1);        
        }

        form {
            width: 100%;
            .input-group {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        #emissionCount {
            font-size: 200%;
        }

        .fa-twitter {
            color: $twitter-blue;

        }

        .fa-youtube {
            color: $youtube-red;

        }

        .fa-google {
            color: $google-yellow;
        }
    }
}